.home-container {
    padding: 0;
}

.hero-section {
    background: url('https://via.placeholder.com/1920x1080') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 100px 0;
}

.gallery-section,
.about-us-section,
.contact-us-section,
.location-section,
.book-appointments-section {
    padding: 60px 0;
    margin: 30px 0;
}

.gallery-section h2,
.about-us-section h2,
.contact-us-section h2,
.location-section h2,
.book-appointments-section h2 {
    margin-bottom: 30px;
}

.hero-section {
    padding: 0;
    /* margin-top: 20px;
    margin-bottom: 20px; */
}

.hero-section .card {
    border: none;
}

.hero-section .card-img {
    opacity: 0.5;
}

.hero-section .card-title {
    font-size: 3rem;
}

.hero-section .card-text {
    font-size: 1.25rem;
}

.btn-primary, .btn-outline-primary {
    margin: 10px;
}

.gallery-section h2 {
    margin-bottom: 30px;
}

.gallery-section img {
    margin-bottom: 20px;
}

.about-us-section h2 {
    margin-bottom: 30px;
}

.about-us-section p {
    font-size: 1.1rem;
}

.contact-us-section h2 {
    margin-bottom: 30px;
}

.contact-us-section form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-us-section form .form-group {
    margin-bottom: 20px;
}

.location-section h2 {
    margin-bottom: 30px;
}

.location-section p {
    font-size: 1.1rem;
}

.book-appointments {
    margin-top: 20px;
}

.form-column {
    margin: auto;
}

.book-appointments img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.book-appointments .btn {
    display: block;
    width: 100%;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .book-appointments {
        padding: 20px;
    }

    .book-appointments img {
        display: none;
    }
}
